body {
background-color: #131126;
color: #FDF008;
margin: 0;
padding: 0;
}
.container {
width: 70%;
max-width: 800px;
margin: 40px auto;
text-align: center;
}
h1 {
font-size: 48px;
margin-bottom: 20px;
}
.divider {
height: 2px;
background-color: #FF0F53;
margin: 20px 0;
}
p {
font-size: 20px;

margin-bottom: 40px;
}
textarea {
width: 100%;
height: 180px;
background-color: #131126;
border: 2px solid #FF0F53;
color: yellow;
padding: 15px;
font-size: 16px;
border-radius: 8px;
outline: none;
}
input[type="email"] {
width: 100%;
padding: 15px;
margin-top: 15px;
background-color: #131126;
border: 2px solid #FF0F53;
color: yellow;
border-radius: 8px;
font-size: 16px;
outline: none;
}
button {
margin-top: 25px;
padding: 15px 40px;
background-color: #FF0F53;
color: yellow;
border: none;
border-radius: 8px;
font-size: 20px;
cursor: pointer;
}
button:hover {
background-color: #FF0F53;
}
label {
display: block;
text-align: left;
margin-top: 25px;
font-size: 22px;
color: yellow;
}