body {
background-color: #02080c;
margin: 0;
padding: 20px;
}


.review-box {
background-color: #031725;
border-radius: 10px;
padding: 20px;
margin-bottom: 30px;
display: flex;
align-items: center;
color: white;
}


.review-box img {
width: 120px;
color: white;
height: 120px;
border-radius: 50%;
margin-right: 20px;
}


.review-content h3 {
margin: 0;
font-size: 24px;
font-weight: bold;
}


.review-content p {
margin: 6px 0;
font-size: 20px;
}


.review-content .name {
text-align: right;
font-size: 18px;
margin-top: 10px;
}