body {
background-color: #02080c;
display: flex;
justify-content: center;
padding: 40px;
color: black;
}


.container {
background-color: #031725;
padding: 20px;
border-radius: 8px;
width: 400px;
}


.item {
background-color: #abf1ee;
margin: 12px 0;
padding: 16px;
border-radius: 6px;
display: flex;
align-items: center;
gap: 10px;
font-size: 18px;
color: black;
}


input[type="checkbox"] {
width: 18px;
height: 18px;
}